/*=(===============================================================)*/

/*=(===============================================================)*/
/*=(Created with RoboEditor.)=======================================*/
/*=(===============================================================)*/

BODY {
	font-family: Arial;
	background-color: #ffffff;
}

H1 {
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana, sans-serif;
	border-left-style: Inset;
	border-right-style: Inset;
	border-top-style: none;
	border-bottom-style: none;
	padding-top: 4pt;
	padding-bottom: 4pt;
	border-left-color: ##ccccff;
	border-right-color: ##ccccff;
	border-top-color: ##ccccff;
	border-bottom-color: ##ccccff;
	margin-top: -15pt;
	text-indent: .1in;
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #ccccff;
	color: #0000b9;
	border-left-width: 1px;
	border-right-width: 1px;
	margin-bottom: 10pt;
	vertical-align: Baseline;
	line-height: 12pt;
	margin-left: -10pt;
	margin-right: -10pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H1 {
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana, sans-serif;
	text-indent: .1in;
	color: #0000b9;
	line-height: 12pt;
}
/*}}end!kadov=======================================================*/ 



H2 {
	font-weight: bold;
	font-family: Verdana, sans-serif;
	font-size: 8pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H2 {
	font-weight: bold;
	font-family: Verdana, sans-serif;
	font-size: 8pt;
}
/*}}end!kadov=======================================================*/ 



H3 {
	font-weight: bold;
	font-size: 8pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H3 {
	font-weight: bold;
	font-size: 8pt;
}
/*}}end!kadov=======================================================*/ 



H4 {
	font-weight: bold;
	font-size: 8.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H4 {
	font-weight: bold;
	font-size: 12.0pt;
}
/*}}end!kadov=======================================================*/ 



H5 {
	font-weight: bold;
	font-size: 12.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H5 {
	font-weight: bold;
	font-size: 10.0pt;
}
/*}}end!kadov=======================================================*/ 



H6 {
	font-weight: bold;
	font-size: 10.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H6 {
	font-weight: bold;
	font-size: 8.0pt;
}
/*}}end!kadov=======================================================*/ 



P {
	font-family: Verdana, sans-serif;
	font-size: 8pt;
	margin-left: 0pt;
	margin-top: 6pt;
	margin-bottom: 6pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P {
	font-family: Verdana, sans-serif;
	font-size: 8pt;
}
/*}}end!kadov=======================================================*/ 



A.expandspot {
	color: #008000;
	cursor: hand;
	font-style: italic;
	x-text-underline: off;
	x-text-overline: off;
	x-text-line-through: off;
	/*begin!kadov{{*/ text-decoration: none none none; /*}}end!kadov*/ 
}

SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}

A.dropspot {
	cursor: hand;
	color: #008000;
	font-style: italic;
	x-text-underline: off;
	x-text-overline: off;
	x-text-line-through: off;
	/*begin!kadov{{*/ text-decoration: none none none; /*}}end!kadov*/ 
}

A.glossterm {
	color: #800000;
	cursor: hand;
	font-style: italic;
	x-text-underline: off;
	x-text-overline: off;
	x-text-line-through: off;
	/*begin!kadov{{*/ text-decoration: none none none; /*}}end!kadov*/ 
}

SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #0000ff;
}

OL,
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}

P.CodePlain {
	font-family: "Courier New", monospace;
	margin-left: 2pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CCodePlain {
	font-family: "Courier New", monospace;
}
/*}}end!kadov=======================================================*/ 



P.CodeBold {
	font-weight: bold;
	font-style: normal;
	font-family: "Courier New", monospace;
	margin-left: 2pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CCodeBold {
	font-weight: bold;
	font-style: normal;
	font-family: "Courier New", monospace;
}
/*}}end!kadov=======================================================*/ 



P.CodeIndent {
	font-weight: bold;
	font-style: normal;
	font-family: "Courier New", monospace;
	margin-left: 12pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CCodeIndent {
	font-weight: bold;
	font-style: normal;
	font-family: "Courier New", monospace;
}
/*}}end!kadov=======================================================*/ 



P.APICODE {
	font-size: 10pt;
	font-family: "Courier New", monospace;
}

/* Applies to the project title in the first row of the upper table in the
   non-scrolling header region. */
span#projecttitle
{
    font-family: Verdana, san-serif;
    font-size:  90%;
    color: #0000b9;
}

/* Applies to the topic title in the second row of the upper table in the
   non-scrolling header region. */
span#pagetitle
{
    font-family: Verdana, san-serif;
    font-size:  10pt;
    font-weight:    bold;
    color: #0000b9;
}


/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CAPICODE {
	font-size: 9pt;
	font-family: "Courier New", monospace;
}
/*}}end!kadov=======================================================*/ 




/*=(===============================================================)*/
